/*
 * Version: 2.1
 * File Description: Place here your custom CSS styles
 */
 .page-link:focus,
 .btn:focus,
 .btn.focus {
     box-shadow: 0 0 0 0.2rem #825aa326 ;
 }

 .w-20 {
     width: 20% !important;
 }

 .f-s-14 {
    font-size: 14px;
 }

.main-navigation .dropdown-toggle::after {
    display:none;
}

.header .navbar-nav li .nav-link {
    font-size: 14px;
    padding-top: 35px;
    padding-bottom: 34px;
}

.header .main-navigation--style-2 .navbar-nav li ul {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.header .main-navigation--style-2 .navbar-nav ul.dropdown-menu > li:last-child > a{
    padding: 5px 15px;
}

.header .main-navigation--style-2 .navbar-nav ul.dropdown-menu > li > a:hover {
    border-radius: 5px !important;
}


.overlay-link i:hover {
    background-color: #825aa3;
    color: #ffffff;
}

#section3 .btn-default-transparent {
    border-color: white;
}

#section3 .btn-default-transparent:hover{
    border-color: #825aa3;
}

ul.pagination .page-item .page-link.active, .page-item .page-link.active:hover, .page-item .page-link.active:focus {
    background-color: #825aa3;
    border-color: #825aa3;
}

.carousel .overlay-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}